.page-preview__wrapper {
  margin: 0 20px;
  margin-bottom: 31px;
  padding: 20px 0 20px 20px;

  background-image: url("../img/bg@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 20px;
}

.page-preview__welcome {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.page-preview__status {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 12px;
  line-height: 14px;
}
