.services-list {
  margin-bottom: 31px;

  &--margin-b-null {
    margin-bottom: 0;
  }
}

.services-list__content {
  display: flex;
  flex-wrap: nowrap;

  overflow-x: scroll;
}

.services-list__content::-webkit-scrollbar {
  display: none;
}

.services-list__heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
}

.services-list__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
}
