.user-data {
  padding: 22px;
  text-align: center;

  font-size: 16px;
  line-height: 18px;
  color: #000000;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-data__avatar {
  width: 60px;
  height: 60px;

  cursor: pointer;
}

.user-data__name {
  margin-bottom: 0;
}

.user-data__name::first-letter {
  color: red;
}

@media (min-width: @desktop-width) {
  .user-data {
    display: flex;
    padding: 0;

    border: none;
  }

  .user-data__avatar {
    margin-right: 10px;
    width: 42px;
    height: 42px;
  }
}
